body {
    margin: 0;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

form {
    margin: 1vw;
}

.selection {
    background-color: rgb(174, 174, 174);
    display: flex;
    flex-flow: column wrap;
    flex-basis: 30%;
    height: 100%;
}

.selection p,
a {
    font-size: 1.5rem;
    margin: .5rem 0;
    display: flex;
}

#print {
    margin: 0 1vw 0 0;
    text-decoration: none;
    color: black;
    background-color: rgb(61, 188, 71);
    border-radius: 10px;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.selection input,
select,
textarea {
    margin: .5rem 0;
}

textarea {
    resize: none;
    width: 30vw;
}

.cimg {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    /* margin: 5vw 0; */
    align-items: center;
}

#certificate {
    height: 80vh;
    overflow: hidden;
    border: red solid .3vw;

}

.cimg img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 50vw;
    height: 80vh;
}

.cname,
.crea,
.cdate {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 18vw;
    height: 4vh;
    /* border: red solid 2px; */

}

.certificate1 .cname {
    font-size: 2vw;
    flex-basis: 100%;
    transform: translate(16.2vw, -41.5vh);
    display: flex;
    justify-content: center;
    align-items: center;

}

.certificate1 .crea {
    font-size: 1.2vw;
    width: 30vw;
    height: 10vh;
    position: relative;
    transform: translate(9.8vw, -31vh);
}

.certificate1 .cdate {
    font-size: 1.4vw;
    width: 10vw;
    position: relative;
    transform: translate(20vw, -23vh);
}

.certificate2 .cname {
    font-size: 2vw;
    width: 30vw;
    flex-basis: 100%;
    transform: translate(10vw, -51vh);
    display: flex;
    justify-content: center;
    align-items: center;

}

.certificate2 .crea {
    font-size: 1.5vw;
    width: 30vw;
    height: 10vh;
    position: relative;
    transform: translate(10vw, -49.5vh);
}

.certificate2 .cdate {
    font-size: 1.4vw;
    width: 10vw;
    position: relative;
    transform: translate(20vw, -40vh);
}

.certificate3 .cname {
    font-size: 2vw;
    flex-basis: 100%;
    width: 30vw;
    transform: translate(9.5vw, -44.2vh);
    display: flex;
    justify-content: center;
    align-items: center;

}

.certificate3 .crea {
    font-size: 1.8vw;
    width: 35vw;
    height: 10vh;
    position: relative;
    transform: translate(7.4vw, -44vh);
}

.certificate3 .cdate {
    font-size: 1.6vw;
    width: 10vw;
    position: relative;
    transform: translate(20vw, -32vh);
}

.certificate4 .cname {
    font-size: 3.5vw;
    width: 35vw;
    flex-basis: 100%;
    transform: translate(7.4vw, -48.5vh);
    display: flex;
    justify-content: center;
    align-items: center;

}

.certificate4 .crea {
    font-size: 1.8vw;
    width: 35vw;
    height: 10vh;
    position: relative;
    transform: translate(7.4vw, -46.2vh);
}

.certificate4 .cdate {
    font-size: 2vw;
    width: 10vw;
    position: relative;
    transform: translate(20vw, -31vh);
}

@media print {
    .selection {
        display: none;
    }

    html,
    body {
        overflow: hidden;
    }

    .cimg .cname,
    .crea {
        /* border: red solid 2px; */

    }

    .cimg {
        display: contents;

    }

    #certificate {
        overflow: visible;
        border: none;
    }

    .cimg img {
        width: 100%;
        height: 100%;
        position: relative;
        /* border: blue solid 1px; */
    }

    .certificate1 .cname {
        font-size: 4vw;
        width: 24rem;
        transform: translate(32vw, -51.5vh);
    }

    .certificate1 .crea {
        font-size: 2.5vw;
        width: 40rem;
        transform: translate(19vw, -38vh);
    }

    .certificate1 .cdate {
        font-size: 2.5vw;
        transform: translate(45.5vw, -25vh);
    }

    .certificate2 .cname {
        font-size: 4vw;
        width: 40rem;
        transform: translate(20vw, -63.5vh);
    }

    .certificate2 .crea {
        font-size: 3.5vw;
        width: 50rem;
        transform: translate(12vw, -62vh);
    }

    .certificate2 .cdate {
        font-size: 3vw;
        transform: translate(45.5vw, -45vh);
    }

    .certificate3 .cname {
        font-size: 4.5vw;
        width: 50vw;
        transform: translate(25vw, -54.5vh);
    }

    .certificate3 .crea {
        font-size: 3.2vw;
        width: 75vw;
        transform: translate(12vw, -53vh);
    }

    .certificate3 .cdate {
        font-size: 3vw;
        transform: translate(45.5vw, -36vh);
    }

    .certificate4 .cname {
        font-size: 6.5vw;
        width: 46vw;
        transform: translate(26.7vw, -59.5vh);
    }

    .certificate4 .crea {
        font-size: 3.2vw;
        width: 75vw;
        height: 20vw;
        transform: translate(12vw, -56vh);
    }

    .certificate4 .cdate {
        font-size: 4vw;
        transform: translate(45.5vw, -51vh);
    }
}