body {
    margin: 0;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

form {
    margin: 1vw;
}

.selection {
    background-color: rgb(174, 174, 174);
    display: flex;
    flex-basis: 30%;
}

.selection p{
    font-size: 1.5rem;
    margin: .5rem 0;
    display: flex;
}

.selection input, select, textarea {
    margin: .5rem 0;
}

textarea {
    resize: none;
    width: 30vw;
}

.submit {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.cimg {
    display: flex;
    flex-basis: 70%;
    justify-content: center;
    align-items: center;
}

.crea {
    height: 5vh;
}

.cname {
    height: 5vh;
}

.certificate1 {
    width: 528*2px;
    height: 408*2px;
    background-image: url(certificates/Court.png);
    background-size: cover;
}

.certificate1 .cname{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 39vh 19.2vw;
    text-align: center;
    width: 20rem;
    font-size: 2vw;
}

.certificate1 .crea{
    display: flex;
    justify-content: center;
    margin: -28vh 14.5vw;
    text-align: center;
    width: 32rem;
    font-size: 1.2vw;
}

.certificate1 .cdate{
    display: flex;
    justify-content: center;
    margin: 41vh 24vw;
    text-align: center;
    width: 9rem;
    font-size: 1.6vw;
}

.certificate2 {
    width: 105vh;
    height: 82vh;
    background-image: url(certificates/Challenger.png);
    background-size: cover;
}

.certificate2 .cname{
    display: flex;
    justify-content: center;
    margin: 30vh 19.7vw;
    text-align: center;
    width: 20rem;
    font-size: 2vw;
}

.certificate2 .crea{
    display: flex;
    justify-content: center;
    margin: -30vh 15vw;
    text-align: center;
    width: 32rem;
    font-size: 1.5vw;
}

.certificate2 .cdate{
    display: flex;
    justify-content: center;
    margin: 44vh 24.5vw;
    text-align: center;
    width: 8rem;
    font-size: 1.5vw;
}

.certificate3 {
    width: 105vh;
    height: 82vh;
    background-image: url(certificates/legit.png);
    background-size: cover;
}

.certificate3 .cname{
    display: flex;
    justify-content: center;
    margin: 36vh 18vw;
    text-align: center;
    width: 20rem;
    font-size: 2.5vw;
}

.certificate3 .crea{
    display: flex;
    justify-content: center;
    margin: -36vh 13.5vw;
    text-align: center;
    width: 32rem;
    font-size: 1.2vw;
}

.certificate3 .cdate{
    display: flex;
    justify-content: center;
    margin: 53vh 24.5vw;
    text-align: center;
    width: 8rem;
    font-size: 1.8vw;
}

@media print {
    .selection {
        display: none;
    }
    .cimg {
        display: contents;
    }
    /* #certificate {
        display: contents;
    } */
}